.popup-container {
  background-color: rgb(0,0,0,.8);
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter-container {
  background-color: var(--news-modal);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 35rem;
  animation: NewsModal 1s forwards;
}

@keyframes NewsModal {
  from {
    opacity: 0
  }
  to {
    opacity: 100
  }
}

.newsletter-container > img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  z-index: 3;
}

.newsletter-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30rem;
  widtH: 35rem;
  color: white;
  margin-top: 50%;
  margin-bottom: 50%;
  z-index: 4;
  text-align: center;
  font-family: 'louis';
  font-weight: bold;
  max-width: 50%;
  background-color: rgb(239, 217, 193, .46);
  padding: 0 4rem;
}

.newsletter-info > div:nth-child(1) > div:nth-child(1) {
  font-size: 28pt;
}

.newsletter-info > div:nth-child(1) > div:nth-child(2) {
  font-size: 12pt;
}

.newsletter-info > div:nth-child(2) {
  margin: 3rem 0;
}

.newsletter-info > div:nth-child(2) * {
  margin: .5rem;
}

.news-input {
  width: 30rem;
  padding: .5rem 0;
}

.news-input[type="text"] {
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.news-input::placeholder {
  color: white;
  font-family: 'louis';
  font-size: 12pt;
  text-align: left;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.newsletter-info > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-subscribe {
  font-size: 10pt;
  padding: 1rem;
  border: 1px solid white;
  letter-spacing: 3.5px;
  background-color: rgb(255,255,255,.2);
}

.newsletter-info > div:nth-child(3) {
  font-size: 10pt;
}

@media screen and (max-width: 600px) {

  .newsletter-container > img {
    object-fit: cover;
  }

  .news-input {
    width: 100%;
  }

  .news-input::placeholder {
    font-size: 6pt;
  }

}