.display-flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.page-font {
  font-size: .8rem;
}

.font-bold {
  font-weight: bold;
}

.padding-05rem {
  padding: .5rem;
}

.padding-1rem {
  padding: 1rem;
}

.padding-2rem {
  padding: 2rem;
}

.close-x {
  height: 1rem;
  margin-left: 1.5rem !important;
}

.ls-15px {
  letter-spacing: 1.5px !important;
}

.ls-25px {
  letter-spacing: 2.5px !important;
}

.top-display-container {
  background-color: var(--primary);
  color: var(--secondary);
}

.display-flex-column-center-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-flex-row-center-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.desktop-display-flex-row-center-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desktop-display-flex-row-top-middle {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.desktop-display-flex-column-top-middle {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  height: 100%;
}

.border-right {
  border-right: 1px solid #c1ac9e;
}

.margin-h-4rem {
  margin: 4rem 0rem;
}

.opacity-0 {
  opacity: 100% !important;
}

.font-size-10pt {
  font-size: 10pt;
}

.font-size-l {
  font-size: 11pt;
}

.font-size-l-xl {
  font-size: 13pt;
}

.font-size-xl {
  font-size: 26pt;
}

.font-size-xxl {
  font-size: 37pt !important;
}

@media screen and (max-width: 600px) {

  .desktop-display-flex-row-center-all {
    display: flex;
    flex-direction: column !important;
  }

  .desktop-display-flex-row-top-middle {
    display: flex;
    flex-direction: column !important;
  }

  .desktop-display-flex-row-top-middle {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
  }

  .font-size-l {
    font-size: 7pt !important;
  }

  .font-size-l-xl {
    font-size: 13pt;
  }

  .font-size-xl {
    font-size: 16pt !important;
  }

  .font-size-xxl {
    font-size: 26pt !important;
  }

  .font-size-10pt {
    font-size: 10pt !important;
  }

}